.navbar-nav
{
    position: absolute;
    margin-left:500px;
}
.nav-item
{
    
    display: flex;
    justify-content: space-evenly;
    margin-right:40px ;
}
.login
{
    
    display: relative;
    margin-left: 25rem;
}
#slash
{
    
    margin-top: 8px;
}
    