#title
{
    margin-top: 40px;   
    margin-left:max(610px);
    letter-spacing: 1.5ch;

    font: 400;
    color: aliceblue;
}

.card
{
    

    display: inline-block;
    margin-left: 20px;

}

.eventContainer{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}